/* *** *** ***
Code by jloffler
March 2021
Written for freeCodecamp Technical Documentation Page Project

Swatch colours: */
:root {
  --main-background-color: white;
  --main-text-color: black;
  --code-background-color: grey;
  --code-text-color: black;
}

/* *** *** *** */

/* TABLE OF CONTENT */
/*
 * GENERAL STYLES
 * IN PAGE EXAMPLE STYLES
 * GENERAL AND MOBILE LAYOUT
 * DESKTOP LAYOUT
   * NAVBAR BUTTON PRESSED
 * MEDIUM WIDTH SCREENS
 */

/* General STYLES */
/* ===== */

html {
  font-size: 18px;
  scroll-behavior: smooth;
  --navbar-width: 278px;
  --nav-button-width: 25px;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
}

h2,
.style-like-heading {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
}

h3,
p
{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

pre {
  overflow: auto; /* horizontal scrollbar */
}

code {
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: monospace, monospace;
  font-size: 1em;
  border-radius: 4px;
  padding: 0 2px;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

ul,
ol 
{
  list-style-position: outside;
  padding-left: 40px;
}

a {
  background-color: rgba(0, 0, 0, 0);
  color: #0000ee;
  text-decoration: underline currentColor solid;
  cursor: pointer;
}

a:visited {
  color: #551a8b;
}

a:active {
  color: #e00;
}

/* IN PAGE EXAMPLE STYLES */
/* ===== */

.red {
  color: red;
}

.red-top-border {
  border-top: 5px solid red;
}

.bold-invert {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}





.word-wrap {
  /*wrap code if too long*/
}





/* GENERAL AND MOBILE LAYOUT */
/* ===== */

h1,
h2,
h3,
p {
  margin: 1rem 0;
}

.nav-button,
.nav-button-mask {
  display: none;
}

#navbar h1 {
  text-align: center;
}

#navbar ul {
  padding: 0;
  border-bottom: 1px solid var(--main-text-color);
}

#navbar li {
  display: block;
  list-style-type: none;
  border-top: 1px solid var(--main-text-color);
  padding: 0.5em 0;
  padding-left: 20px;
}

#navbar a {
  text-decoration: none;
  color: var(--main-text-color);
}

.main-section {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0;
}

.example-box {

}

.code-box {

}

.code-box code {

}

/* DESKTOP LAYOUT */
/* ===== */

@media screen and (min-width: 700px) {
  #main-doc {
    box-sizing: content-box;
    max-width: 750px;
    margin: 0 auto;
  }

  .nav-button {
    cursor: pointer;
    /*opacity: 0;*/
    z-index: 30;
  }

  .nav-button,
  .nav-button-mask {
    display: block;
    width: var(--nav-button-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: var(--navbar-width);
  }

  .nav-button-mask {
    background-color: blue;
    text-align: center;
    z-index: 20;
  }

  .nav-close-text,
  .nav-open-text {
    display: block;
    width: 200px;
    margin-top: calc(50vh + 100px);
    transform-origin: top left;
    transform: rotate(-90deg);
    color: red;
  }

  .nav-open-text {
    display: none;
  }

  #navbar {
    width: var(--navbar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  /* NAVBAR BUTTON PRESS */
  /* ===== */

  .nav-button:checked ~ .nav-button-mask .nav-close-text {
     display: none;
  }
  .nav-button:checked ~ .nav-button-mask .nav-open-text {
    display: block;
  }
} /* @media screen > 700px */


/* MEDIUM WIDTH SCREENS */
/* ===== */

@media screen and (min-width: 700px) and (max-width: 1306px) {
  #main-doc {
    /* Offset content centering by navbar width */
    padding: 0 0 0 calc(var(--navbar-width) + var(--nav-button-width));
  }

  /* #navbar closed position */
  .nav-button:checked ~ #main-doc {
    /* Offset content centering by only .nav-button width */
    padding: 0 0 0 var(--nav-button-width);
  }
}
