/* *** *** ***
Code by jloffler
March 2021
Written for freeCodecamp Technical Documentation Page Project
/* *** *** *** */

:root {
/* Swatch Colours: */
  --base-blue: #0B2974;
  --lighter-blue: #13368C;
  --darker-blue: #061F5D;
  --platinum: #e5e4e2;
  --darker-plat: #BBB9B5;
  --darkest-plat: #95918A;

/* Colour Variables: */
  --main-background-color: var(--platinum);
  --main-text-color: var(--base-blue);
  --link-color: #0000ee; /* link default blue */
  --link-visited-color: #551a8b; /* link default purple */
  --link-active-color: #e00; /* link default red */
  --nav-button-background-color: var(--lighter-blue);
  --nav-button-text-color: var(--platinum);
  --code-background-color: var(--darker-plat);
  --code-text-color: var(--darker-blue);
  --example-background-color: var(--darker-plat);
  --example-text-color: var(--darker-blue);
  --example-border-color: var(--darkest-plat);
  --code-box-background-color: var(--lighter-blue);
  --code-box-text-color: var(--platinum);
}

/* TABLE OF CONTENT */
/*
 * PREFERES REDUCED MOTION
 * GENERAL STYLES
 * IN PAGE EXAMPLE STYLES
 * GENERAL AND MOBILE LAYOUT
 * DESKTOP LAYOUT
   * NAVBAR BUTTON PRESS
 * MEDIUM WIDTH SCREENS
 */

/* PREFERS REDUCED MOTION */
/* ===== */

/*
 * This is a template that I could use on other sites.
 * It targets more things than are used on this website.
 */
@media screen and 
  (prefers-reduced-motion: reduce),
  (update: slow) /* devices with low refresh rate */
{
  *,
  ::before,
  ::after,
  :before, /* For old versions of IE */
  :after /* For old versions of IE */
  {
    /* 
     * mostly taken from:
     * <https://web.dev/prefers-reduced-motion/> 
     * <https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/>
     */
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0.001ms !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
    background-attachment: initial !important;
  }
}

/* General STYLES */
/* ===== */

html {
  font-size: 18px;
  scroll-behavior: smooth;
  --navbar-width: 278px;
  --nav-button-width: 25px;
}

body {
  display: block;
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
}

h2,
.style-like-heading {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
}

h3,
p
{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

pre {
  overflow: auto; /* horizontal scrollbar */
}

code {
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: monospace, monospace;
  font-size: 1em;
  border-radius: 4px;
  padding: 0 2px;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

ul,
ol 
{
  list-style-position: outside;
  padding-left: 40px;
}

a {
  background-color: rgba(0, 0, 0, 0);
  color: var(--link-color);
  text-decoration: underline currentColor solid;
  cursor: pointer;
}

a:visited {
  color: var(--link-visited-color);
}

a:active {
  color: var(--link-active-color);
}

/* IN PAGE EXAMPLE STYLES */
/* ===== */

.red {
  color: red;
}

.red-top-border {
  border-top: 5px solid red;
}

.bold-invert {
  line-height: 2em;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}

.word-wrap {
  white-space: pre-wrap;
}

/* GENERAL AND MOBILE LAYOUT */
/* ===== */

h2,
h3,
p {
  margin: 0 0 1em 0;
}

.nav-button,
.nav-button-mask {
  display: none;
}

#navbar {
  background-color: var(--main-background-color);
}

#navbar h1 {
  text-align: center;
  margin: 1em 0;
}

#navbar ul {
  padding: 0;
  border-bottom: 1px solid var(--main-text-color);
}

#navbar a {
  text-decoration: none;
  color: var(--main-text-color);
}

#navbar li {
  display: block;
  list-style-type: none;
  border-top: 1px solid var(--main-text-color);
  padding: 0.5em 0;
  padding-left: 20px;
}

#navbar a:focus {
  text-decoration: underline;  
}

.main-section {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0;
}

.example-box {
  background-color: var(--example-background-color);
  color: var(--example-text-color);
  width: max-content;
  max-width: 100%;
  margin: 1rem 0;
  padding: 1em 1.5em 0 1em;
  border: 2px solid var(--example-border-color);
  border-radius: 0.5rem;
}

.code-box {
  background-color: var(--code-box-background-color);
  color: var(--code-box-text-color);
  width: max-content;
  max-width: 100%;
  margin: 1rem 0;
  padding: 1em 1.5em 1em 1em;
  border-radius: 0.5rem;
}

.code-box code {
  background-color: inherit;
  color: inherit;
}

/* DESKTOP LAYOUT */
/* ===== */

@media screen and (min-width: 700px) {
  #main-doc {
    box-sizing: content-box;
    max-width: 750px;
    margin: 0 auto;
  }

  .nav-button {
    cursor: pointer;
    opacity: 0;
    z-index: 30;
  }

  .nav-button,
  .nav-button-mask {
    display: block;
    width: var(--nav-button-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: var(--navbar-width);
  }

  .nav-button-mask {
    background-color: var(--nav-button-background-color);
    color: var(--nav-button-text-color);
    text-align: center;
    z-index: 20;
  }

  .nav-close-text,
  .nav-open-text {
    display: block;
    width: 200px;
    margin-top: calc(50vh + 100px);
    color: inherit;
    transform-origin: top left;
    transform: rotate(-90deg);
  }

  .nav-open-text {
    display: none;
  }

  .nav-button:focus ~ .nav-button-mask {
    opacity: 0.8;
    text-decoration: underline;
  }

  #navbar {
    width: var(--navbar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #navbar {
    overflow: auto;
  }

  /* NAVBAR BUTTON PRESS */
  /* ===== */

  .nav-panel {
    transition: transform 0.5s ease-in-out;
  }

  .nav-button:checked,
  .nav-button:checked ~ .nav-panel {
    transform: translate(calc(-1 * var(--navbar-width)));
  }

  .nav-button:checked ~ .nav-button-mask .nav-close-text {
     display: none;
  }

  .nav-button:checked ~ .nav-button-mask .nav-open-text {
    display: block;
  }
}


/* MEDIUM WIDTH SCREENS */
/* ===== */

/*
 * max-width = #main-doc + (2 * (#navbar + .nav-button) + some-for-looks
 * 1356px = 750px + (2 * (278px + 25px)) + 40px
 */
@media screen and (min-width: 700px) and (max-width: 1396px) {
  #main-doc {
    /* Offset content centering by navbar width */
    padding: 0 0 0 calc(var(--navbar-width) + var(--nav-button-width));
  }

  #main-doc {
    transition: padding 0.5s ease-in-out;
  }

  /* #navbar closed position */
  .nav-button:checked ~ #main-doc {
    /* Offset content centering by only .nav-button width */
    padding: 0 0 0 var(--nav-button-width);
  }
}
